.comment-section {
  margin-top: 5px;
  padding: 0 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

  
  .comment-button {
    background-color: transparent;
    color: #333;
    border: 1px solid #007bff;
    border-radius: 20px;
    padding: 4px 10px;
    transition: all 0.2s ease;
  }
  
  .comment-button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .comment-input-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .comment-list {
    margin-top: 10px;
    padding-left: 5px;
    max-height: 300px;
    max-width: auto;
    overflow-y: auto;
  }
  
  .comment-item {
    background-color: #f8f9fa;
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    font-size: 0.95rem;
  }
  